/*TODO: rewrite quill theme*/
.ql-editor {
  min-height: 240px;
}

.ql-container {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ql-container.ql-snow {
  border-radius: 0 0 6px 6px;
}

.ql-toolbar.ql-snow {
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 6px 6px 0 0;
  border: 0;
}
